In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
from IPython.display import Image
from sklearn.metrics import accuracy_score

random.seed(0)
np.random.seed(0)

In [2]:
training = pd.read_csv('optdigits.tra',names=np.arange(64))
training

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,1,6,15,12,1,0,0,0,7,16,...,0,0,0,6,14,7,1,0,0,0
0,0,10,16,6,0,0,0,0,7,16,...,0,0,0,10,16,15,3,0,0,0
0,0,8,15,16,13,0,0,0,1,11,...,0,0,0,9,14,0,0,0,0,7
0,0,0,3,11,16,0,0,0,0,5,...,0,0,0,0,1,15,2,0,0,4
0,0,5,14,4,0,0,0,0,0,13,...,0,0,0,4,12,14,7,0,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,0,5,13,11,2,0,0,0,2,15,...,0,0,0,8,13,15,10,1,0,9
0,0,0,1,12,1,0,0,0,0,0,...,0,0,0,0,4,9,0,0,0,4
0,0,3,15,0,0,0,0,0,0,11,...,0,0,0,4,14,16,9,0,0,6
0,0,6,16,2,0,0,0,0,0,15,...,0,0,0,5,16,16,16,5,0,6
0,0,2,15,16,13,1,0,0,0,3,...,0,0,0,4,14,1,0,0,0,7

In [3]:
testing = pd.read_csv('optdigits.tes',names=np.arange(64))
testing

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0,5,13,9,1,0,0,0,0,13,...,0,0,0,6,13,10,0,0,0,0
0,0,0,12,13,5,0,0,0,0,0,...,0,0,0,0,11,16,10,0,0,1
0,0,0,4,15,12,0,0,0,0,3,...,0,0,0,0,3,11,16,9,0,2
0,0,7,15,13,1,0,0,0,8,13,...,0,0,0,7,13,13,9,0,0,3
0,0,0,1,11,0,0,0,0,0,0,...,0,0,0,0,2,16,4,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,0,4,10,13,6,0,0,0,1,16,...,0,0,0,2,14,15,9,0,0,9
0,0,6,16,13,11,1,0,0,0,16,...,0,0,0,6,16,14,6,0,0,0
0,0,1,11,15,1,0,0,0,0,13,...,0,0,0,2,9,13,6,0,0,8
0,0,2,10,7,0,0,0,0,0,14,...,0,0,0,5,12,16,12,0,0,9
0,0,10,14,8,1,0,0,0,2,16,...,0,0,1,8,12,14,12,1,0,8

In [4]:
X = training.drop(63,axis=1)
X

,0,1,2,3,4,5,6,7,8,9,...,53,54,55,56,57,58,59,60,61,62
0,1,6,15,12,1,0,0,0,7,16,...,0,0,0,0,6,14,7,1,0,0
0,0,10,16,6,0,0,0,0,7,16,...,3,0,0,0,10,16,15,3,0,0
0,0,8,15,16,13,0,0,0,1,11,...,0,0,0,0,9,14,0,0,0,0
0,0,0,3,11,16,0,0,0,0,5,...,0,0,0,0,0,1,15,2,0,0
0,0,5,14,4,0,0,0,0,0,13,...,12,0,0,0,4,12,14,7,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,0,5,13,11,2,0,0,0,2,15,...,10,0,0,0,8,13,15,10,1,0
0,0,0,1,12,1,0,0,0,0,0,...,0,0,0,0,0,4,9,0,0,0
0,0,3,15,0,0,0,0,0,0,11,...,4,0,0,0,4,14,16,9,0,0
0,0,6,16,2,0,0,0,0,0,15,...,15,0,0,0,5,16,16,16,5,0
0,0,2,15,16,13,1,0,0,0,3,...,0,0,0,0,4,14,1,0,0,0

In [5]:
Y = training[[63]]
Y

    63
0    0
0    0
0    7
0    4
0    6
..  ..
0    9
0    4
0    6
0    6
0    7

[3823 rows x 1 columns]

<b>Formulas to use:</b>

In [6]:
Image(url= "Logistic_Regression-1.png")

In [7]:
Image(url= "Logistic Regression-2.png")

In [8]:
Image(url= "Logistic_Regression-3.png")

In [9]:
Image(url= "Logistic_Regression-4.png")

<b>First making a model for binary classification:</b>

In [10]:
def sigmoid(x):
    return 1/(1+np.exp(-x))

In [11]:
def htheta(theta,x):
    return sigmoid(np.dot(x,theta))

In [12]:
def cal_cost(x,y,theta):
    h = htheta(theta,x)
    m = len(x)
    return (-1/m * (np.sum(y*np.log(h)+(1-y)*np.log(1-h))))

In [18]:
def gd(alpha,x,y,iterations):
    m = len(x)
    n = x.shape[1]
    theta = np.ones(X.shape[1])
    h = htheta(theta,x)
    cost = np.ones(iterations)
    for i in range(0,iterations):
        for j in range(0,n):
            theta[j] = theta[j] - ((alpha/m)*np.sum((h-y)*x[:,j]))   
    return theta

In [19]:
def log_reg(x,y,alpha,iterations):
    theta = gd(alpha,x,y,iterations)
    return theta

In [46]:
fake_Y = np.concatenate((np.ones(3000),np.zeros(823)),axis=0)
fake_Y = fake_Y.reshape(len(fake_Y),1)
fake_Y.shape

(3823, 1)

In [ ]:
theta = log_reg(np.array(X),fake_Y,0.0002,1500)
theta

In [23]:
X_test = testing.drop(63,axis=1)
X_test = np.array(X_test)
X_test

array([[ 0,  5, 13, ...,  0,  0,  0],
       [ 0,  0, 12, ..., 10,  0,  0],
       [ 0,  0,  4, ..., 16,  9,  0],
       ...,
       [ 0,  1, 11, ...,  6,  0,  0],
       [ 0,  2, 10, ..., 12,  0,  0],
       [ 0, 10, 14, ..., 12,  1,  0]], dtype=int64)

In [370]:
X_test = (X_test-X_test.meandd())/X_test.std()

<b>For multiclass classification(One vs all method):</b>

In [29]:
#Create different output classes for each of the output
classes = Y[63].unique()
classes

array([0, 7, 4, 6, 2, 5, 8, 1, 9, 3], dtype=int64)

In [31]:
Y_new = np.zeros(shape=(len(X),len(classes)))
Y_new = pd.DataFrame(Y_new,columns=classes)       
Y_new

        0    7    4    6    2    5    8    1    9    3
0     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
3818  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3819  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3820  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3821  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3822  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[3823 rows x 10 columns]

In [32]:
for i in range(0, len(Y)):
    val = Y[63].iloc[i]
    Y_new[val].iloc[i] = 1
        
Y_new

        0    7    4    6    2    5    8    1    9    3
0     1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1     1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2     0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4     0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
3818  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
3819  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3820  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
3821  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
3822  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[3823 rows x 10 columns]

In [42]:
theta_all_classes = {}
for i in range(0,len(classes)):
    t = log_reg(np.array(X),np.array(Y_new[classes[i]]).reshape(len(Y),),0.0002,150)
    theta_all_classes[classes[i]] = t
theta_all_classes

{0: array([0.9910463 , 0.84897986, 0.68470573, 0.68874706, 0.84261575,
        0.95855088, 0.9957311 , 0.99993722, 0.94462987, 0.72095998,
        0.68720115, 0.7174758 , 0.782757  , 0.93617839, 0.99544075,
        0.9998509 , 0.93355742, 0.75498561, 0.81179179, 0.79324876,
        0.796113  , 0.94843578, 0.99852472, 0.99996861, 0.94535967,
        0.76046299, 0.73090243, 0.71077426, 0.79116139, 0.94935391,
        0.99990583, 0.99996076, 0.95472142, 0.80535705, 0.72564478,
        0.69010463, 0.74957886, 0.93442061, 1.        , 0.99917604,
        0.96761444, 0.84621763, 0.78967826, 0.76664661, 0.77334816,
        0.91373529, 0.99940361, 0.99946639, 0.97765106, 0.8026419 ,
        0.73462202, 0.73844363, 0.76129479, 0.8956317 , 0.99555061,
        0.99999215, 0.99156422, 0.83779754, 0.68170024, 0.69547999,
        0.81539367, 0.93742611, 0.99393408]),
 7: array([0.99215276, 0.85676432, 0.68636934, 0.70023542, 0.87229401,
        0.97732932, 0.99870521, 0.99993722, 0.9439707 , 0.70958933,
        0.6802485 , 0.71469788, 0.79167931, 0.95654198, 0.99784986,
        0.9998509 , 0.92334031, 0.71711483, 0.80055454, 0.80439184,
        0.7959796 , 0.95163746, 0.99890139, 0.99996861, 0.93130526,
        0.73310751, 0.74690296, 0.74822914, 0.80144128, 0.94241695,
        0.99992153, 0.99996076, 0.94331154, 0.79644258, 0.76528119,
        0.73603453, 0.76222077, 0.92732671, 1.        , 0.99917604,
        0.96029296, 0.81868166, 0.82159299, 0.79474758, 0.7513131 ,
        0.89690296, 0.99940361, 0.99946639, 0.97584619, 0.77834685,
        0.74429767, 0.72234894, 0.72224693, 0.8876903 , 0.99555061,
        0.99999215, 0.99270991, 0.84942715, 0.67572849, 0.66101491,
        0.79933037, 0.93682971, 0.99393408]),
 4: array([0.99101491, 0.83838608, 0.6648679 , 0.69006539, 0.84299241,
        0.96034005, 0.99639812, 0.99993722, 0.941695  , 0.69227832,
        0.68440753, 0.70836516, 0.75917604, 0.94187549, 0.99681402,
        0.9998509 , 0.92465865, 0.73871044, 0.83373267, 0.79676432,
        0.77725608, 0.95295579, 0.99939576, 0.99996861, 0.94113785,
        0.76364897, 0.75311797, 0.72681402, 0.80003662, 0.94874967,
        0.99998431, 1.        , 0.95858227, 0.8135888 , 0.75427936,
        0.7255977 , 0.76753335, 0.92728747, 1.        , 1.        ,
        0.97572849, 0.83632226, 0.81804604, 0.80656552, 0.77353649,
        0.89985352, 0.99941146, 0.99996076, 0.98121371, 0.77472142,
        0.72670416, 0.74832331, 0.7385221 , 0.88883599, 0.995582  ,
        0.99999215, 0.99172116, 0.82749411, 0.66295318, 0.69047345,
        0.80687941, 0.93712791, 0.99398901]),
 6: array([0.99098352, 0.8417604 , 0.67776877, 0.6800994 , 0.83816636,
        0.95837824, 0.9957311 , 0.99993722, 0.94170285, 0.7065446 ,
        0.6887706 , 0.69786555, 0.75359665, 0.93399686, 0.99544075,
        0.9998509 , 0.92505885, 0.74988491, 0.8238373 , 0.78627256,
        0.75861104, 0.93862673, 0.99852472, 0.99996861, 0.93648444,
        0.76373529, 0.74640858, 0.71782108, 0.76709391, 0.92995553,
        0.99990583, 0.99996076, 0.94849071, 0.8131729 , 0.75817944,
        0.72369867, 0.75159561, 0.9186712 , 1.        , 0.99917604,
        0.96405179, 0.8501334 , 0.81902694, 0.78481297, 0.77253989,
        0.92165315, 0.99992937, 0.99946639, 0.97668585, 0.79551661,
        0.74147267, 0.72572325, 0.75424797, 0.9212294 , 0.99795187,
        0.99999215, 0.99156422, 0.83061732, 0.67293487, 0.69947423,
        0.83693434, 0.95301857, 0.99466388]),
 2: array([0.99376929, 0.86638504, 0.68742087, 0.67914988, 0.83896678,
        0.95866074, 0.9957311 , 0.99993722, 0.95596129, 0.72628826,
        0.68618886, 0.71744442, 0.7638373 , 0.93482082, 0.99544075,
        0.9998509 , 0.93532304, 0.73672509, 0.81066178, 0.81758305,
        0.77483128, 0.93960764, 0.99852472, 0.99996861, 0.93327491,
        0.72982736, 0.73972273, 0.74384253, 0.77722469, 0.9301988 ,
        0.99990583, 0.99996076, 0.93893278, 0.77385823, 0.74716191,
        0.71995553, 0.73072195, 0.91279362, 1.        , 0.99917604,
        0.95858227, 0.82016479, 0.8184227 , 0.78355742, 0.74399163,
        0.89567879, 0.99940361, 0.99950562, 0.98000523, 0.79931467,
        0.74706775, 0.74299503, 0.75326707, 0.90804604, 0.99663353,
        1.        , 0.99438922, 0.85581481, 0.68359142, 0.69553492,
        0.83531781, 0.96336123, 0.99753597]),
 5: array([0.99241172, 0.8591028 , 0.68417212, 0.69781062, 0.86808789,
        0.96816375, 0.99605284, 0.99996076, 0.95006016, 0.72438922,
        0.68633011, 0.70918127, 0.77414857, 0.94051792, 0.99553492,
        0.99989014, 0.93520534, 0.75386346, 0.81770076, 0.79211091,
        0.76087104, 0.9388543 , 0.99852472, 0.99996861, 0.94307612,
        0.76299765, 0.76189118, 0.73627779, 0.77712268, 0.93100706,
        0.99990583, 0.99996076, 0.94257389, 0.78883861, 0.7452158 ,
        0.71538844, 0.74781324, 0.91827099, 1.        , 0.99917604,
        0.95812713, 0.80871567, 0.79165577, 0.78175255, 0.7678237 ,
        0.90240387, 0.9994193 , 0.99946639, 0.97735286, 0.78244311,
        0.72712791, 0.7396678 , 0.74846456, 0.89276746, 0.99561339,
        0.99999215, 0.99263144, 0.8502825 , 0.68403871, 0.68731886,
        0.80941407, 0.93811666, 0.99394978]),
 8: array([0.99139158, 0.85211875, 0.68359927, 0.69327491, 0.85262883,
        0.95978289, 0.9957311 , 0.99997646, 0.94850641, 0.72286686,
        0.67892231, 0.70886738, 0.78668846, 0.94110646, 0.99544075,
        0.99985875, 0.93336123, 0.74968873, 0.81647659, 0.80865289,
        0.79280146, 0.94516348, 0.99852472, 0.99996861, 0.93416165,
        0.75293748, 0.76663092, 0.7500497 , 0.78437353, 0.93170547,
        0.99990583, 0.99996076, 0.93984306, 0.79377452, 0.76601099,
        0.72518179, 0.7372587 , 0.91402563, 1.        , 0.99917604,
        0.96106984, 0.84070887, 0.81121109, 0.78839916, 0.76263667,
        0.90014387, 0.99940361, 0.99946639, 0.97914204, 0.80118232,
        0.72846979, 0.73125556, 0.75130526, 0.89572587, 0.99555061,
        0.99999215, 0.99186241, 0.84175255, 0.68165315, 0.69399686,
        0.81925451, 0.93963118, 0.99398901]),
 1: array([0.99100706, 0.84270207, 0.67335077, 0.69026157, 0.85246403,
        0.95996338, 0.9957311 , 0.99993722, 0.94185195, 0.69726916,
        0.68702066, 0.72652367, 0.77935129, 0.93677478, 0.99544075,
        0.99995292, 0.92644782, 0.73721946, 0.84274915, 0.82994245,
        0.78348679, 0.94029035, 0.99852472, 1.        , 0.93740256,
        0.75368297, 0.7707978 , 0.7546011 , 0.78686895, 0.93118755,
        0.99990583, 0.99996076, 0.9436882 , 0.7929898 , 0.7597175 ,
        0.73381376, 0.74618101, 0.913853  , 1.        , 0.99917604,
        0.95899817, 0.82066702, 0.81656291, 0.80574941, 0.76333508,
        0.89639289, 0.99940361, 0.99946639, 0.97581481, 0.77758567,
        0.73681925, 0.75121894, 0.75060685, 0.89268114, 0.99613131,
        0.99999215, 0.99162699, 0.83143343, 0.66807743, 0.69453047,
        0.82641904, 0.94394716, 0.99545645]),
 9: array([0.99139942, 0.85138896, 0.6817944 , 0.69183102, 0.85333508,
        0.96377714, 0.99591159, 0.99993722, 0.94809835, 0.72153283,
        0.68076641, 0.71319121, 0.78493068, 0.94506147, 0.99599006,
        0.9998509 , 0.93481297, 0.75227047, 0.81606069, 0.8107638 ,
        0.80082134, 0.95111169, 0.99875229, 0.99996861, 0.93680617,
        0.75562124, 0.75934083, 0.74657337, 0.80800157, 0.94307612,
        0.99990583, 0.99996076, 0.93938792, 0.7786215 , 0.73798064,
        0.70881245, 0.76261313, 0.92657337, 1.        , 0.99917604,
        0.95802511, 0.80728747, 0.78683756, 0.77485483, 0.77039759,
        0.91027465, 0.99942715, 0.99946639, 0.97674078, 0.77733455,
        0.72113262, 0.73109077, 0.75001046, 0.90098352, 0.9957468 ,
        0.99999215, 0.99186241, 0.84035574, 0.67871044, 0.69166623,
        0.81964687, 0.94142035, 0.99400471]),
 3: array([0.99346325, 0.86232017, 0.6883547 , 0.69662569, 0.85200105,
        0.96045776, 0.99585666, 0.99993722, 0.95418781, 0.72241172,
        0.67698404, 0.71766414, 0.78402825, 0.93909757, 0.99557416,
        0.9998509 , 0.92735025, 0.72274915, 0.80797803, 0.81991368,
        0.7861627 , 0.94088674, 0.99852472, 0.99996861, 0.93037928,
        0.72942715, 0.75819513, 0.75322783, 0.78241172, 0.9304656 ,
        0.99990583, 0.99996076, 0.93888569, 0.77530997, 0.74625948,
        0.72755166, 0.76045514, 0.9203662 , 1.        , 0.99917604,
        0.95797018, 0.80778969, 0.78639812, 0.77410149, 0.77886477,
        0.91517133, 0.99942715, 0.99946639, 0.97813759, 0.7862961 ,
        0.72314936, 0.7324248 , 0.76354695, 0.90555061, 0.99564478,
        0.99999215, 0.99365158, 0.85393931, 0.68600837, 0.69599791,
        0.8222757 , 0.94058854, 0.99394978])}

In [49]:
pd.DataFrame(theta_all_classes).iloc[:,0]

0     0.991046
1     0.848980
2     0.684706
3     0.688747
4     0.842616
        ...
58    0.681700
59    0.695480
60    0.815394
61    0.937426
62    0.993934
Name: 0, Length: 63, dtype: float64

In [43]:
predict_all = []
for i in range(0, len(classes)):
    theta_i = pd.DataFrame(theta_all_classes)
    h = htheta(theta_i.iloc[:,i], X)
    predict_all.append(h)
predict_all=pd.DataFrame(predict_all)

In [52]:
htheta(theta_all_classes[0],X)

array([1., 1., 1., ..., 1., 1., 1.])

In [54]:
np.dot(X,theta_all_classes[0])

array([238.69297149, 294.39620978, 242.31375621, ..., 250.03898509,
       275.43135757, 196.21581219])